[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
affine = "==2.3.0"
numpy = "==1.22.0"
pydantic = "==2.4.2"
python-dotenv = "==0.19.2"
requests = "==2.31.0"
scipy = "==1.7.3"
s3fs = "==2022.1.0"
zarr = "==2.10.3"
pillow = "==9.4.0"
dependency-injector = "==4.41.0"
numba = "==0.56.4"
pint = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
tox = "*"
sphinx-toolbox = "*"
sphinx-design = "*"
nbsphinx = "*"
pydata-sphinx-theme = "*"

[requires]
python_version = "3.8"
