[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
affine = "==2.3.0"
numpy = "==1.22.0"
pydantic = "==1.9.0"
python-dotenv = "==0.19.2"
requests = "==2.27.1"
scipy = "==1.7.3"
s3fs = "==2022.1.0"
zarr = "==2.10.3"
pillow = "==9.4.0"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
tox = "*"

[requires]
python_version = "3.8"
