sphinx==5.3.0
sphinxcontrib-details-directive
numpydoc==1.0.0
sphinx-copybutton==0.5.0
myst-nb==0.16.0
pydata-sphinx-theme==0.13.3
sphinx_toggleprompt==0.2.0
sphinx_design==0.3
sphinx_rtd_theme
sphinx-toolbox
sphinx-simplepdf
pandoc
nbsphinx
graphviz
affine==2.3.0
numpy==1.22.0
pydantic==1.9.0
python-dotenv==0.19.2
requests==2.27.1
scipy==1.7.3
s3fs==2022.1.0
zarr==2.10.3
pillow==9.4.0
dependency-injector==4.41.0
numba==0.56.4
